= form_for @link, html: {class: "ui form"} do |f|
  - if @link.errors.any?
    #error_explanation
      %h2= "#{pluralize(@link.errors.count, "error")} prohibited this link from being saved:"
      %ul
        - @link.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :categories
    - @categories.each do |category|
      = check_box(:link, :category_ids, {multiple: true}, category.id.to_i, nil)
      = category.name
      %br
  .actions
    = f.submit 'Save', class: "ui button primary"
